<div class="bg-dBlue grid grid-cols-5 py-20 items-center justify-center">
  <div class="flex flex-col justify-center items-center text-start gap-y-2">
    <img src="../../../assets/Images/LogoBlue.png" alt="" class="h-12" />
    <p class="max-w-xs">
      A leading provider of cybersecurity services and solutions for
      distribution and technology partners around the United States
    </p>
  </div>

  <div class="flex flex-col">
    <p class="text-4xl">Om Oss</p>
    <p class="text-lg">Om Oss</p>
    <p class="text-lg">Kontakt</p>
    <p class="text-lg">Raporter</p>
  </div>
  <div class="flex flex-col">
    <p class="text-4xl">Kontakt Oss</p>
    <p class="text-lg"><strong>Adresse:</strong> Satkhira, Kaliganj', BD</p>
    <p class="text-lg"><strong>Email:</strong> abdurihan.it009@gmail.com</p>
    <p class="text-lg"><strong>Tlf:</strong> +88 014007152619</p>
  </div>
  <div class="flex flex-col">
    <p class="text-4xl">Følg Oss</p>
    <p class="text-lg">Om Oss</p>
    <p class="text-lg">Kontakt</p>
    <p class="text-lg">Raporter</p>
  </div>
  <div class="flex flex-col">
    <p>Google Play</p>
    <p>Apple Store</p>
  </div>
</div>
