<div class="grid grid-cols-3 justify-between content-between">
  <div class="flex justify-center items-center mr-4">
    <img src="../../../assets/Images/LogoBlue.png" alt="" class="h-16 p-2" />
  </div>
  <div class="flex gap-3 justify-center items-center">
    <a href="">Produkter</a>
    <a href="">Tjenester</a>
    <a href="">Industrier</a>
    <a href="">OmOss</a>
    <a href="">Kontakt</a>
  </div>
  <div class="flex justify-center items-center gap-8">
    <img src="" alt=" " />
    <img src="" alt=" " />
    <img src="" alt=" " />
    <img src="" alt=" " />
  </div>
</div>
