<div class="grid grid-cols-3 justify-between content-between">
  <div class="flex justify-center items-center mr-4">
    <img src="../../../assets/Images/LogoBlue.png" alt="" class="h-16 p-2" />
  </div>
  <div class="flex gap-3 justify-center items-center blue">
    <a href="">Produkter</a>
    <a href="">Tjenester</a>
    <a href="">Industrier</a>
    <a href="">OmOss</a>
    <a href="">Kontakt</a>
  </div>
  <div class="flex justify-center items-center gap-8">
    <div *ngFor="let social of socials | slice : 0 : 4">
      <div
        class="flex flex-col items-center border-2 border-iconBorder p-2 rounded-full"
      >
        <a href="{{ social.name }}">
          <img src="{{ social.img }}" class="h-4 w-4 icons" />
        </a>
      </div>
    </div>
  </div>
</div>
