<div class="flex flex-col items-center">
  <h1 mat-dialog-title>Cookies</h1>
  <div mat-dialog-content>
    <p>
      Vi bruker informasjonskapsler for å forbedre opplevelsen din på nettstedet
      vårt. Ved å bruke vår nettstedet, samtykker du til vår bruk av
      informasjonskapsler.
    </p>
  </div>
  <div
    mat-dialog-actions
    class="flex flex-col items-center justify-center content-center"
  >
    <button
      mat-button
      (click)="accept()"
      class="bg-blue p-1.5 border-dBlue border-2 border-solid rounded-md"
    >
      Aksepter
    </button>
  </div>
</div>
