<div class="flex flex-col justify-center items-center text-center mt">
  <p class="font-semibold text-2xl">Cyber Security Services</p>
  <p class="m-1 text-base max-w-4xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, quos voluptatem voluptatum quod voluptates
    quas doloribus quidem natus. Quisquam voluptatibus, quibusdam, quia, quos
    voluptatem voluptatum quod voluptates quas doloribus quidem natus.
  </p>
  <button class="p-2 bg-blue border-2 border-solid color-white h-8 border-blue">
    Get Started Now
  </button>
</div>
